.selectedPage {
    background-color: antiquewhite;
    border: 1px solid #ccc;
    padding: 5px;

}
.photo {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 15px;
}

/*.unFollowButton {*/
/*    background-color: #707B7C ;*/
/*    color: white;*/
/*    padding: 7px 15px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 13px;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
/*}*/

.unFollowButton {
    padding: 2px;
    margin: 4px 6px;
    border: none;
    background: none;
}

.unFollowButton {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.unFollowButton p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.unFollowButton::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.unFollowButton p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Unsubscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.unFollowButton.followed p::before {
    content: "Unsubscribe";
}

.unFollowButton:hover::after {
    width: 100%;
}

.unFollowButton:hover p::before {
    width: 100%;
}

.unFollowButton:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.unFollowButton svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}


/*.followButton {*/
/*    background-color: #34495E ;*/
/*    color: white;*/
/*    padding: 7px 15px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 13px;*/
/*    margin: 6px 4px;*/
/*    cursor: pointer;*/
/*}*/


.followButton {
    padding: 2px;
    margin: 4px 6px;
    border: none;
    background: none;
}

.followButton {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.followButton p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.followButton::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.followButton p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Subscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.followButton:hover::after {
    width: 100%;
}

.followButton:hover p::before {
    width: 100%;
}

.followButton:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.followButton svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}




.fullName {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.description {
    font-size: 16px;
    padding: 10px;
}

.location {
    font-size: 14px;
    padding: 10px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
.preloader {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    hight: 35px;
    width: 35px;
}