.description_block {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    margin: 10px;
    background-color: #F2F3F4;
}

.photo_large {
    width: 250px;
    height: 250px;
    border-radius: 1rem;
}