.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding-left: 10px;
    padding-top: 10px;
     ;

}

.dialogsItems .act {
    color: darkblue;
}

.messages {


}

.messages .message {
    padding-top: 10px;
}
